on: [push, pull_request]
name: Run Test Cases
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: ['stable', '1.51.0', 'nightly-2021-04-24']
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: check
      - run: rustup component add clippy
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings
      - uses: actions-rs/cargo@v1
        env:
          RUST_LOG: debug
        with:
          command: test
          args: -- --show-output --test-threads=1
